<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "{{ site.name }}",
    "url": "{{ site.url }}",
    "sameAs": [
      "https://twitter.com/vas_kort",
      "https://www.linkedin.com/in/vaskort",
      "https://github.com/vaskort"
    ],
    "jobTitle": "Senior Web Engineer",
    "worksFor": [
      {
        "@type": "Organization",
        "name": "ASOS"
      },
      {
        "@type": "Organization",
        "name": "Toptal"
      }
    ],
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "London",
      "addressCountry": "UK"
    }
  }
  </script>
  