<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Person",
    "name": "{{ site.name }}",
    "url": "{{ site.url }}",
    "sameAs": [
      {% if site.footer-links.twitter %}"https://twitter.com/{{ site.footer-links.twitter }}",{% endif %}
      {% if site.footer-links.linkedin %}"https://www.linkedin.com/in/{{ site.footer-links.linkedin }}",{% endif %}
      {% if site.footer-links.github %}"https://github.com/{{ site.footer-links.github }}",{% endif %}
      {% if site.footer-links.facebook %}"https://www.facebook.com/{{ site.footer-links.facebook }}",{% endif %}
      {% if site.footer-links.instagram %}"https://www.instagram.com/{{ site.footer-links.instagram }}"{% endif %}
    ],
    "jobTitle": "Senior Web Engineer",
    "worksFor": [
      {
        "@type": "Organization",
        "name": "ASOS"
      },
      {
        "@type": "Organization",
        "name": "Toptal"
      }
    ],
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "London",
      "addressCountry": "UK"
    }
  }
  </script>
  